* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 649px) {
    header img {
        width: 12vh;
    }

    div.doc {
        /* border: .5px solid;
        width: 100vw;
        height: 100vh; */
        background-color: #d4fde0;
    }

    div.doc .header-doc input {
        border-radius: 6px 3px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }

    div.header-doc {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        height: 32vh;
        position: relative;
        top: 29px;
        background-color: #ffffff;
    }

    div.header-doc .cel-doc-h {
        display: flex;
        justify-content: space-between;
        width: 69vw;
    }

    div.doc .tab {
        /* border: .5px solid; */
        position: relative;
        margin-top: 62px;
        text-align: center;
        font-weight: bold;
        /* background: red; */
        border-collapse: collapse;
    }

    div.doc .tab th {
        background: white;
    }

    div.doc .tab tr,
    td {
        border: 1px solid;
        background: white;
    }

    div.doc .Analises-doc input {
        width: 100%;
        border: none;
    }

    div.info-doc{
        margin-top: 64px;
    }

    div.info-doc input{
        height: 5vh;
    }
}


@media (min-width: 650px) {
    header img {
        width: 16vh;
    }
    /*  */
    div.doc {
        /* border: .5px solid;
        width: 100vw;
        height: 100vh; */
        background-color: #d4fde0;
    }

    div.doc .header-doc input {
        border-radius: 6px 3px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }

    div.header-doc {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        height: 32vh;
        position: relative;
        top: 29px;
        background-color: #ffffff;
    }

    div.header-doc .cel-doc-h {
        display: flex;
        justify-content: space-between;
        width: 69vw;
    }

    div.doc .tab {
        /* border: .5px solid; */
        position: relative;
        margin-top: 62px;
        text-align: center;
        font-weight: bold;
        /* background: red; */
        border-collapse: collapse;
    }

    div.doc .tab th {
        background: white;
    }

    div.doc .tab tr,
    td {
        border: 1px solid;
        background: white;
    }

    div.doc .Analises-doc input {
        width: 100%;
        border: none;
    }

    div.info-doc{
        margin-top: 64px;
    }

    div.info-doc input{
        height: 5vh;
    }
}

header {
    background-color: #00a2e8;
}